
.nav {
    display: flex;
    justify-content: space-between;
    background-color: darkslateblue;
    padding-top: 20px;
    padding-bottom: 15px;
    /*
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    */
    color: white;
    font-size: 20px;
}

.active{
    color: springgreen;
    font-size: 22px;
}

