/*
.container{
    background-color: rgba(224, 183, 243, .7);
    border-radius: 10px;
    position: relative;
    width: 140px;
    height: 280px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px darkgray;
    &:hover {
        transform: scale(0.9);
    } 
}

.container button {
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    &:hover {
        box-shadow: 0 2px 2px whitesmoke;
        background-color: crimson;
    }
}

.dataContainer {
    color: rgb(34, 34, 34);
    padding: 5px;
    text-align: center;  
}

.dataContainer h2{
    margin: 2px;
    font-size: 15px;
}

.dataContainer h4 {
    margin: 2px;
    font-size: 10px;
}

.image{
    width: 130px;
    border-radius: 20%;
    margin-top: 15px;
}
*/