.formulario {
    margin: 20%;
    background-color: rgb(196, 147, 241);
    padding: 10%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}


.warning {
    border: red;
}

.success {
    border: #00ccff;
}

.danger {
    color: red;
}